<h1>Home#index</h1>
<%= link_to 'Login', new_user_session_path %>
<br />
<%= link_to 'Destroy session', destroy_user_session_path, data: { method: :delete } %>
<br />
<% unless current_user.phone_confirm? %>
  <%= link_to('sms', new_user_sms_path) %>
<% end if current_user %>
<p>Find me in app/views/home/index.html.erb</p>

<% if current_user %>
  <%= current_user.phone %>
  <br />
  Phone confirm: <%= current_user.phone_confirm? %>
<% end %>
